@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0f0f11;
  color: #ffffff;
}

.text-color-fill {
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 767px) {
  .text-color-fill {
    background-image: url('./assets/mob-hero-color.png');
    background-size: 100vw 100dvh;
    background-position: left bottom;
    background-attachment: scroll;
  }
}
@media (min-width: 768px) {
  .text-color-fill {
    background-image: url('./assets/hero-color.png');
    background-size: 100vw 100vh;
    background-position: top left;
  }
}

.text-stroke-vikas-base {
  -webkit-text-stroke: 1.5px #facc15;
  filter: drop-shadow(3px 0px 0px rgba(0,0,0,0.4));
}
.text-stroke-vikas-reveal {
  -webkit-text-stroke: 1.5px #e5e5e5;
  filter: drop-shadow(0 0 5px #ff0000) drop-shadow(0 0 10px #ff0000) drop-shadow(3px 0px 0px rgba(0,0,0,0.4));
}
@media (min-width: 768px) {
  .text-stroke-vikas-base {
    -webkit-text-stroke: 4.8px #facc15;
    filter: drop-shadow(5.6px 0px 0px rgba(0,0,0,0.4));
  }
  .text-stroke-vikas-reveal {
    -webkit-text-stroke: 4.8px #e5e5e5;
    filter: drop-shadow(0 0 5.6px #ff0000) drop-shadow(0 0 12px #ff0000) drop-shadow(5.6px 0px 0px rgba(0,0,0,0.4));
  }
}
